body {
	background-color: white;	
	
}

h2 {
	text-align: center;
}
div {
	color: white;
	padding: 20px;
	margin: 40px;
	width: 90%;

	
	
}

#day {
	background-color: red;
	
}

#night {
	background-color: green;






          